.footer{

background:

#020617;

color:white;

text-align:center;

padding:

55px;

}



.footer-container h3{

font-size:34px;

margin-bottom:12px;

}



.footer-container p{

font-size:18px;

color:#94a3b8;

margin-top:10px;

}



.social-links{

margin-top:25px;

}



.social-links a{

text-decoration:none;

margin:0 18px;

color:#38bdf8;

font-size:22px;

font-weight:600;

transition:.3s;

}



.social-links a:hover{

color:white;

}



.copyright{

margin-top:30px;

font-size:16px;

}