*{

margin:0;

padding:0;

box-sizing:border-box;

}


.home{

min-height:90vh;

background:

linear-gradient(

135deg,

#0f172a,

#1e293b,

#312e81

);

display:flex;

align-items:center;

justify-content:center;

padding:

80px 100px;

color:white;

}



.hero-container{

max-width:1400px;

width:100%;

display:flex;

align-items:center;

justify-content:space-between;

gap:100px;

}



.hero-left{

flex:1;

display:flex;

justify-content:center;

}



.profile-image{

width:360px;

height:360px;

border-radius:50%;

object-fit:cover;

border:

7px solid

#38bdf8;

box-shadow:

0 0 70px

rgba(

56,

189,

248,

.45

);

transition:.4s;

}



.profile-image:hover{

transform:

scale(1.04)

rotate(2deg);

}



.hero-right{

flex:1;

max-width:650px;

}



.intro{

font-size:28px;

font-weight:600;

color:#38bdf8;

margin-bottom:20px;

}



.hero-right h1{

font-size:82px;

font-weight:800;

line-height:1;

margin-bottom:20px;

}



.hero-right h2{

font-size:42px;

color:#94a3b8;

margin-bottom:30px;

}



.description{

font-size:22px;

line-height:1.8;

color:#e2e8f0;

margin-bottom:40px;

}



.button-group{

display:flex;

gap:25px;

flex-wrap:wrap;

margin-bottom:50px;

}



.btn{

padding:

18px 35px;

border-radius:

15px;

text-decoration:none;

font-size:18px;

font-weight:700;

transition:.3s;

}



.primary-btn{

background:#38bdf8;

color:white;

}



.primary-btn:hover{

transform:

translateY(-5px);

box-shadow:

0 20px 40px

rgba(

56,

189,

248,

.35

);

}



.secondary-btn{

border:

2px solid

#38bdf8;

color:#38bdf8;

}



.secondary-btn:hover{

background:#38bdf8;

color:white;

}



.stats{

display:flex;

gap:70px;

}



.stats h3{

font-size:45px;

color:#38bdf8;

}



.stats p{

font-size:18px;

margin-top:10px;

color:#cbd5e1;

}



.home-extra{

background:

#f8fafc;

display:grid;

grid-template-columns:

repeat(

auto-fit,

minmax(

320px,

1fr

)

);

gap:35px;

padding:

80px 100px;

}



.extra-card{

background:white;

padding:40px;

border-radius:25px;

box-shadow:

0 15px 40px

rgba(

0,

0,

0,

.08

);

transition:.4s;

}



.extra-card:hover{

transform:

translateY(-12px);

}



.extra-card h2{

color:#2563eb;

font-size:30px;

margin-bottom:20px;

}



.extra-card p{

font-size:20px;

line-height:1.8;

color:#475569;

}