.login-page{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background-image:

url("https://images.unsplash.com/photo-1516321318423-f06f85e504b3");

background-size:cover;

background-position:center;

background-repeat:no-repeat;

}


.login-card{

width:400px;

padding:40px;

background:

rgba(255,255,255,.18);

backdrop-filter:blur(20px);

border-radius:25px;

box-shadow:

0 15px 40px

rgba(0,0,0,.2);

text-align:center;

}


.login-card h1{

color:white;

font-size:35px;

margin-bottom:30px;

}


.login-card input{

width:100%;

padding:15px;

margin:15px 0;

border:none;

outline:none;

border-radius:12px;

font-size:16px;

}


.login-btn{

width:100%;

padding:15px;

margin-top:20px;

background:white;

color:#2563eb;

font-size:18px;

font-weight:bold;

border:none;

border-radius:12px;

cursor:pointer;

transition:.3s;

}


.login-btn:hover{

transform:translateY(-3px);

}